.git
.cache
.shopify
.wrangler
node_modules
**/node_modules
coverage
*.log
.env
.env.*
*.local.*

apps/document/dist
apps/web/dist
packages/*/dist
apps/server/dist/*
!apps/server/dist/process
!apps/server/dist/process/**
